/* naval.css */
.root {
    -fx-background-color: #1a2332;
    -fx-font-family: "Segoe UI", sans-serif;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #f8fafc;
}




.subtitle {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #f8fafc;
    -fx-alignment: center;
}



/* ---- PANTALA INICIAL ---- */

/* Estilo base del botón JUGAR */
.play-button {
    -fx-background-color: #4fc3f7;
    -fx-text-fill: #2b2b2b;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 1);
}

/* Efecto HOVER: Cuando el mouse está encima */
.play-button:hover {
    -fx-background-color: #81d4fa; /* Un celeste más claro/brillante */
    -fx-scale-x: 1.05;             /* (Opcional) Crece un poquito para dar feedback */
    -fx-scale-y: 1.05;
}

/* Efecto PRESSED: Cuando haces clic */
.play-button:pressed {
    -fx-background-color: #0288d1; /* Un azul más oscuro al presionar */
    -fx-scale-x: 0.98;             /* Se encoge ligeramente al hacer clic */
    -fx-scale-y: 0.98;
}
 /* ---- PANTALA INICIAL ---- */


/* Botones */
.normal-button {
    -fx-background-color: #2196f3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 3, 0, 0, 1);
}

.normal-button:hover {
    -fx-background-color: #ed0707;
}

.normal-button:pressed {
    -fx-background-color: #1565c0;
}

/* Tableros */
.board-title {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5 0 0 0;
    -fx-alignment: center;
}

.board-grid {
    -fx-background-color: transparent;
    -fx-pref-width: 520px;   /* 10 celdas × 50px + bordes/gap */
    -fx-pref-height: 520px;
}

.cell {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-color: #2563eb; /* Agua */
    -fx-border-color: #64748b;
    -fx-border-width: 1px;
    -fx-alignment: center;
}

.cell:disabled {
    /* Tu flota: no clickable → deshabilitado */
    -fx-opacity: 1.0;
}

/* Estados dinámicos (aplicados por clase CSS desde Java) */
.cell.hit   { -fx-background-color: #dc2626; }        /* Impacto */
.cell.miss  { -fx-background-color: #94a3b8; }        /* Disparo al agua */
.cell.ship  { -fx-background-color: #475569; }        /* Barco visible (solo en tu tablero) */
.cell.sunk  { -fx-background-color: #b91c1c; }        /* Barco hundido */

/* Estado al pasar  */
.cell:hover {
    -fx-effect: dropshadow(gaussian, rgba(231,0,0,0.9), 50, 0, 0, 0);
}

/* Panel de estado inferior */
.status-panel {
    -fx-background-color: #1a2332;
    -fx-padding: 10;
}

.status-label {
    -fx-text-fill: #f8fafc;
    -fx-font-size: 13px;
}

/* Panel de coordenadas */
.coord-label {
    -fx-text-fill: #f8fafc;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}